numpy
pandas
scipy
scikit-learn
matplotlib
Pillow
opencv-python
pyyaml
tqdm
joblib
albumentations
openslide-python
h5py
torch
torchvision
timm
transformers
accelerate
streamlit
fastapi
uvicorn
plotly
